$background: #EFEFEF;
$button: #54B8FF;
$button-shadow: #698AAB;

body {
  background: $background;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

html {
  font-size: 62.5%;
  overflow-y:scroll;
}

#container {
  width: 800px;
  margin: 0 auto;
}


#appTitle {
  width: 500px;
  margin: 20px auto;
  text-align: center;
  font-size: 2rem;
}

#inputBox {
  text-align: left;
  width: 700px;
  margin: 80px auto;

  p {
    font-size: 1.4rem;
    margin-bottom: 5px;
    display: inline-block;
  }

  .normal1, .normal2 {
    display: none;
  }
  
  .danger1, .danger2 {
    color: red;
    margin: 0 15px;
    font-size: 1.2rem;
    display: inline-block;
  }

  #inputName {
    input {
      width: 250px;
      height: 30px;
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      margin-bottom: 10px;
    }
  }

  #inputMessage {
    textarea {
      width: 700px;
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      margin-bottom: 25px;
    }
  }

  #inputSubmit {
    padding: 7px 17px;
    border: none;
    border-radius: 3px;
    background: $button;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border-bottom: 3px solid $button-shadow;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);

    &:active {
      transform: translateY(3px);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      border-bottom: none;
      margin: 0 0 3px 0;
    }
  }
}

.tweetBox {
  border: none;
  border-radius: 10px;
  background: #fff;
  padding: 10px 20px;
  text-align: left;
  width: 700px;
  margin: 30px auto;

  p {
    font-size: 1.3rem;
  }

  .tweetUser {
    display: flex;

    .tweetName {
      margin-right: 20px;
    }

    .tweetTime {
      color: #999;
    }
  }

  .tweet {
    margin: 0px 0 10px 0;
  }
}